/* pagina blog---------------------------------------------------------------------- */

#B_SubT{
    background-image:url("../assets/images/Blog_img.jpg");
    height: 60px;
    text-align: center;
    align-items: center;
    font-family: $TipoCont;
    color: map-get($map-colores,"rosa");
    margin-bottom: 30px;
}

#BlogContenido{
    font-family: $TipoCont;
    text-align: justify;
    
    
}

.Card_custom{
    font-family: $TipoCont;
    text-decoration: none;
    color: map-get($map-colores,"dorado");
}
.anchor{
    text-decoration: none;
}
