/* pagina blog---------------------------------------------------------------------- */

#B_SubT{
    background-image:url("../assets/images/Blog_img.jpg");
    height: 60px;
    text-align: center;
    align-items: center;
    font-family: $TipoCont;
    color: map-get($map-colores,"dorado");
    margin-bottom: 30px;
}

#BlogContenido{
    font-family: $TipoCont;
    text-align: justify;
    
    
}

.textoCarrusel{
    color: map-get($map-colores,"dorado");
}
.Card_custom{
    font-family: $TipoCont;
    text-decoration: none;
    color: map-get($map-colores,"dorado");
}
.anchor{
    text-decoration: none;
    color: rgb(221, 160, 85);
    font-family: $TipoCont;
    text-align: justify;
}
.bCont1{
    background-image:url("../assets/images/Blog_email_background3.webp") ;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.styleBtn{
    opacity: 1;
    background-image: linear-gradient(90deg, map-get($map-colores,"btn1"), map-get($map-colores,"btn1"), map-get($map-colores,"btn2"),map-get($map-colores,"btn3"),map-get($map-colores,"btn3"));
    border: none;
}
.deco_row_blog{
    background-image: url("../assets/images/correo_imp.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.Seccion_correo_importante{
    // background-image: url("../assets/images/correo_imp.jpg");
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}
 p+h2{
    text-align: center;
 }
