/* pagina blog---------------------------------------------------------------------- */

#B_SubT{
    background-image:url("../assets/images/Blog_img.jpg");
    height: 60px;
    text-align: center;
    align-items: center;
    font-family: 'DynaPuff', cursive;
    color: rgb(226, 168, 177);
    margin-bottom: 30px;
}

#BlogContenido{
    font-family: 'DynaPuff', cursive;
    text-align: justify;
    
    
}

.Card_custom{
    font-family: 'DynaPuff', cursive;
    text-decoration: none;
    color: darkgoldenrod;
}
.anchor{
    text-decoration: none;
}
