/* footer---------------------------------------------------------------------- */
footer {
    @include foot-head;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5vh;
    width: 100%;
    overflow: hidden;
    z-index: 10}