/* header---------------------------------------------------------------------- */
#encabezado {
    @include foot-head;
    top: 0;
    z-index: 10;
    }

    #navtext {
        color: map-get($map-colores,"naranja");
        font-size: larger !important;
    }
    .nav-pills{
        --bs-nav-pills-link-active-bg:#425F4D;
    
    }
    #imgPortada {
        margin-left: -35%;
        margin-top: 1%;
        width: 25%;
        height: 25%;
        animation-name: index_banner;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 10s;
    }
    
    @keyframes index_banner {
        0% {
            transform: translate(135vw);
        }
    }
    
    #banner {
       position: relative;
        width: 80vw;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #banner::before{
        content: "";
        background-image: url(../assets/images/bckindextop.gif);
        background-size: cover;
        opacity: 0.9;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    
    
