/* estilo herramientas----------------------------------------------------------------------------------- */


#H_Titulo {
    text-align: justify;
    font-size: 1.5rem;
    background-image: url(../assets/images/Herramientas_digitalaes.jpg);
}

#H_TituloCont {
    font-family: $TipoCont;
    font-size: 3rem;
    text-align: center;
}

.imagenes {
    border-radius: 50%;
}

.H_descarga {
    text-decoration: none;
    color:map-get($map-colores,"verde");
    font-style: $TipoContSec;
    font-weight: bolder;
}

.H_subT {
    font-family: $TipoCont;
    text-align: justify;
    background-color: rgba(128, 128, 128, 0.185);
    border-radius: 5%;

    &:hover {
        transform: scale(1.05);
        box-shadow: 5px 10px 20px map-get($map-colores,"rosa");


    }
}

#rotacionInsred,#rotacionInsIP,#rotacionInsAV,#rotacionInsPtch,#rotacionInsServ{
    &:hover{
        #imgHerr1,#imgHerr2,#imgHerr3,#imgHerr4,#imgHerr5{
            animation-name: imagen_herramientas;
    animation-timing-function: ease-in;
    animation-duration: 1s;
        }
    }
}


@keyframes imagen_herramientas {
    0% {
        transform: rotate(360deg);
    }
}