/* estilos index---------------------------------------------------------------------- */
#quienesSomos,#porque,#herramientasUtiles {
    
    border-radius: 10%;
    background-color: rgba(136, 112, 112, 0.295);
    font-size: 1.5rem;
    font-family: $TipoCont;
    text-align: justify;
    &:hover{
        transform: scale(1.05);
         box-shadow: 5px 10px 20px rgb(190, 162, 162);
    }
}