/* estilos index---------------------------------------------------------------------- */
#quienesSomos,#porque,#herramientasUtiles {
    
    border-radius: 5%;
    background-color: rgba(153, 129, 129, 0.062);
    font-size: 1.5rem;
    font-family: $TipoCont;
    text-align: justify;
    transition-property: transform;
    transition-duration: 2s;
    &:hover{
        transform: scale(1.05);
         box-shadow: 5px 10px 20px rgb(190, 162, 162);
    }
}

.InIndex{
    font-family: $TipoContTit;
    font-size: 2rem;
    color: rgb(224, 224, 131);
    position: relative;
}
.iArtTi{
    text-align: center;
    font-weight: bolder
}
.referencias{
    @include citar-referencias;
}