

/* medias querys................................................................. */

@media screen and (max-width: 450px){


    .InIndex{
        font-size: 0.7rem;
         
     }
     #quienesSomos,#porque,#herramientasUtiles{
         font-size: 0.3rem;
     }
}

@media screen and (max-width: 650px) {
    .h_logo {
        display: none;
    }


    #iframe{
        position: relative;
        overflow: hidden;
        width: 100%;
    
    }
    #video{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .Seccion_correo_importante{
        font-size: 0.8rem;
    }

    .InIndex{
       font-size: 1rem;
        
    }
    #quienesSomos,#porque,#herramientasUtiles{
        font-size: 0.5rem;
    }
}




@media screen and (max-width: 800px){
    #iframe{
        position: relative;
        overflow: hidden;
        width: 100%;
    
    }
    #video{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .InIndex{
        font-size: 1.5rem;
         
     }
     #quienesSomos,#porque,#herramientasUtiles{
         font-size: 1rem;
     }

}


