@mixin foot-head{
    background-image: linear-gradient(10deg, map-get($map-colores,"amarillo"), map-get($map-colores,"gris"), map-get($map-colores,"gris"),map-get($map-colores,"amarillo"));
    position: sticky;
    color: map-get($map-colores,"naranja");
    
}

@mixin citar-referencias {
    font-size: small;
    text-align:center;
}