/* pagina quienes somos.------------------------------------------ */

#qsom,
#qmis,
#qvis,
#qaquien {

    /* width: 80%; */
    background-color: rgba(9, 117, 9, 0.363);
    /* height: 250px; */
    text-align: justify;
    font-family: $TipoContSec;
}