/* pagina quienes somos.------------------------------------------ */

#qsom,
#qmis,
#qvis,
#qaquien {
    @extend .estilo-basico;
    background-color: rgba(9, 117, 9, 0.363);
    
}
#Timg{
     opacity: 0.5;
 }

.card{
    border: none;
    width: fit-content;
}


.single:hover .side-two{
    transform: rotateY(0deg);

}

.single:hover .side-one{
    transform: rotateY(180deg);

}

.content-area{
    transform: perspective(1000px);
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
    width: fit-content
}

.side-one{
    position: relative;
    transform: rotateY(0deg);
    z-index: 2;
   
}
.side-two{
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    transform: rotateY(-180deg);

}

.side-one, .side-two{
    backface-visibility: hidden;
    transition: 1s;
    transform-style: preserve-3d;
}

.qSomosText{
    font-size: 1em;
}
.single{
    width: fit-content;
}