/* Uso de Extend---------------------------------------------------------------------- */
.estilo-basico {
  font-family: "DynaPuff", cursive;
  text-align: justify; }

/* header---------------------------------------------------------------------- */
#encabezado {
  background-image: linear-gradient(10deg, yellow, #242424, #242424, yellow);
  position: sticky;
  color: rgba(255, 136, 0, 0.877) !important;
  top: 0;
  z-index: 10; }

#navtext {
  color: rgba(255, 136, 0, 0.877);
  font-size: larger !important; }

.nav-pills {
  --bs-nav-pills-link-active-bg:#425F4D; }

#imgPortada {
  margin-left: -35%;
  margin-top: 1%;
  width: 25%;
  height: 25%;
  animation-name: index_banner;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 10s; }

@keyframes index_banner {
  0% {
    transform: translate(135vw); } }

#banner {
  position: relative;
  width: 80vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

#banner::before {
  content: "";
  background-image: url(../assets/images/bckindextop.gif);
  background-size: cover;
  opacity: 0.9;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; }

/* footer---------------------------------------------------------------------- */
footer {
  background-image: linear-gradient(10deg, yellow, #242424, #242424, yellow);
  position: sticky;
  color: rgba(255, 136, 0, 0.877) !important;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5vh;
  width: 100%;
  overflow: hidden;
  z-index: 10; }

/* pagina blog---------------------------------------------------------------------- */
#B_SubT {
  background-image: url("../assets/images/Blog_img.jpg");
  height: 60px;
  text-align: center;
  align-items: center;
  font-family: "DynaPuff", cursive;
  color: darkgoldenrod;
  margin-bottom: 30px; }

#BlogContenido {
  font-family: "DynaPuff", cursive;
  text-align: justify; }

.Card_custom {
  font-family: "DynaPuff", cursive;
  text-decoration: none;
  color: darkgoldenrod; }

.anchor {
  text-decoration: none;
  color: #dda055;
  font-family: "DynaPuff", cursive;
  text-align: justify; }

.bCont1 {
  background-image: url("../assets/images/Blog_email_background3.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }

.styleBtn {
  opacity: 1;
  background-image: linear-gradient(90deg, #d6d617, #d6d617, rgba(233, 233, 7, 0.705), rgba(77, 77, 4, 0.705), rgba(77, 77, 4, 0.705));
  border: none; }

.deco_row_blog {
  background-image: url("../assets/images/correo_imp.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.Seccion_correo_importante {
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center; }

p + h2 {
  text-align: center; }

/* estilo herramientas----------------------------------------------------------------------------------- */
#H_Titulo {
  text-align: justify;
  font-size: 1.5rem;
  background-image: url(../assets/images/Herramientas_digitalaes.jpg); }

#H_TituloCont {
  font-family: "DynaPuff", cursive;
  font-size: 3rem;
  text-align: center; }

.imagenes {
  border-radius: 50%; }

.H_descarga {
  text-decoration: none;
  color: green;
  font-style: "Aboreto", cursive;
  font-weight: bolder; }

.H_subT {
  font-family: "DynaPuff", cursive;
  text-align: justify;
  background-color: rgba(128, 128, 128, 0.185);
  border-radius: 5%; }
  .H_subT:hover {
    transform: scale(1.05);
    box-shadow: 5px 10px 20px #e2a8b1; }

#rotacionInsred:hover #imgHerr1, #rotacionInsred:hover #imgHerr2, #rotacionInsred:hover #imgHerr3, #rotacionInsred:hover #imgHerr4, #rotacionInsred:hover #imgHerr5, #rotacionInsIP:hover #imgHerr1, #rotacionInsIP:hover #imgHerr2, #rotacionInsIP:hover #imgHerr3, #rotacionInsIP:hover #imgHerr4, #rotacionInsIP:hover #imgHerr5, #rotacionInsAV:hover #imgHerr1, #rotacionInsAV:hover #imgHerr2, #rotacionInsAV:hover #imgHerr3, #rotacionInsAV:hover #imgHerr4, #rotacionInsAV:hover #imgHerr5, #rotacionInsPtch:hover #imgHerr1, #rotacionInsPtch:hover #imgHerr2, #rotacionInsPtch:hover #imgHerr3, #rotacionInsPtch:hover #imgHerr4, #rotacionInsPtch:hover #imgHerr5, #rotacionInsServ:hover #imgHerr1, #rotacionInsServ:hover #imgHerr2, #rotacionInsServ:hover #imgHerr3, #rotacionInsServ:hover #imgHerr4, #rotacionInsServ:hover #imgHerr5 {
  animation-name: imagen_herramientas;
  animation-timing-function: ease-in;
  animation-duration: 3s; }

@keyframes imagen_herramientas {
  0% {
    transform: rotate(360deg); } }

/* estilos index---------------------------------------------------------------------- */
#quienesSomos, #porque, #herramientasUtiles {
  border-radius: 5%;
  background-color: rgba(153, 129, 129, 0.062);
  font-size: 1.5rem;
  font-family: "DynaPuff", cursive;
  text-align: justify;
  transition-property: transform;
  transition-duration: 2s; }
  #quienesSomos:hover, #porque:hover, #herramientasUtiles:hover {
    transform: scale(1.05);
    box-shadow: 5px 10px 20px #bea2a2; }

.InIndex {
  font-family: "Source Serif Pro", serif;
  font-size: 2rem;
  color: #e0e083;
  position: relative; }

.iArtTi {
  text-align: center;
  font-weight: bolder; }

.referencias {
  font-size: small;
  text-align: center; }

/* pagina quienes somos.------------------------------------------ */
#tQsomos {
  background-image: url(../assets/images/qSomosTitulo.jpg);
  color: white; }

#Timg {
  opacity: 0.5; }

.card {
  border: none;
  width: fit-content; }

.single:hover .side-two {
  transform: rotateY(0deg); }

.single:hover .side-one {
  transform: rotateY(180deg); }

.content-area {
  transform: perspective(1000px);
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
  width: fit-content; }

.side-one {
  position: relative;
  transform: rotateY(0deg);
  z-index: 2; }

.side-two {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotateY(-180deg); }

.side-one, .side-two {
  backface-visibility: hidden;
  transition: 1s;
  transform-style: preserve-3d; }

.qSomosText {
  font-size: 1em; }

.single {
  width: fit-content; }

/* estilo contacto---------------------------------------------------------------------- */
#form_cont {
  background-color: antiquewhite; }

#cont_body {
  height: 100vh; }

/* medias querys................................................................. */
@media screen and (max-width: 450px) {
  .InIndex {
    font-size: 0.7rem; }
  #quienesSomos, #porque, #herramientasUtiles {
    font-size: 0.3rem; } }

@media screen and (max-width: 650px) {
  .h_logo {
    display: none; }
  #iframe {
    position: relative;
    overflow: hidden;
    width: 100%; }
  #video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .Seccion_correo_importante {
    font-size: 0.8rem; }
  .InIndex {
    font-size: 1rem; }
  #quienesSomos, #porque, #herramientasUtiles {
    font-size: 0.5rem; } }

@media screen and (max-width: 800px) {
  #iframe {
    position: relative;
    overflow: hidden;
    width: 100%; }
  #video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .InIndex {
    font-size: 1.5rem; }
  #quienesSomos, #porque, #herramientasUtiles {
    font-size: 1rem; } }
